.root {
  min-width: 300px;
  background-color: #192734;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 10px;
  height: fit-content;
  max-height: 100%;
  overflow-y: scroll;
}

.title {
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0;
}

.cardContainer {
  margin: 10px 0;
}

.addCard {
  font-weight: 400;
  font-size: 1.1rem;
  margin: 0;
  color: #6c6ea0;
  cursor: pointer;
}
