.root {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 300px;
  background-color: #192734;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 10px;
  height: fit-content;
  max-height: 100%;
}

.title {
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0;
}

.cardContainer {
  margin: 10px 0;
  overflow-y: scroll;
  max-height: 100%;
  height: fit-content;
  flex-grow: 1;
}
