.root {
  min-width: 300px;
  background-color: #1da1f2;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 10px;
  height: fit-content;
  font-weight: 600;
  text-align: center;
}

.root:hover {
  cursor: pointer;
}
