.root {
  font-weight: 400;
  font-size: 1.1rem;
  margin: 0;
  color: #6c6ea0;
  cursor: pointer;
}

.textInput {
  margin: 10px 0;
  width: 100%;
  min-height: 115px;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  outline: none;
  background: #253341;
  border-radius: 5px;
  color: #ffffff;
  padding: 15px;
  resize: none;
}

.textInput:focus {
  border: solid 1px #1da1f2;
  padding: 14px;
  background-color: #15202b;
}

.textInput::placeholder {
  color: #8899a6;
}

.submitBtn {
  background-color: #1da1f2;
  font-weight: 600;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 0.8rem;
  cursor: pointer;
}
